body {
  background-color: #f37121;
  color: #111d5e;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 5em;
  text-align: center;
}

.topping {
  width: 20%;
}

.container {
  background-color: #f3c623;
  margin-bottom: 2em;
}

.btn {
  margin-bottom: 10px;
}

.header-img {
  display: inline-block;
  margin-left: 19em;
  margin-top: 2em;
  width: 30%;
}

#pizza-size {
  width: 20%;
}

#pizza-final {
  display: none;
}