body {
  background-color: #f37121;
  color: #111d5e;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 5em;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}

.topping {
  width: 20%;
}

.container {
  background-color: #f3c623;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-bottom: 30px;
}

.carousel-item {
  padding: 7% 15%;
}

.btn {
  margin-bottom: 10px;
}

#pizza-size {
  width: 20%;
}

#pizza-final {
  display: none;
}

#pizza-imgs {
  text-align: center;
}
